<h1><%= @prescription.drug_name %></h1>

<img src='data:image/png;base64,<%= @prescription.base64_qr_code %>' alt='QR code'>

<%= link_to 'Edit', edit_prescription_path(@prescription), class: 'btn btn-default pull-right' %>

<table class='table'>
  <tr>
    <td>
      Drug name:
    </td>
    <td>
      <%= @prescription.drug_name %>
    </td>
  </tr>
  <tr>
    <td>
      Dose
    </td>
    <td>
      <%= @prescription.dose %>
    </td>
  </tr>
  <tr>
    <td>
      Dose units
    </td>
    <td>
      <%= @prescription.dose_units %>
    </td>
  </tr>
  <tr>
    <td>
      Frequency
    </td>
    <td>
      <%= @prescription.frequency %>
    </td>
  </tr>
  <tr>
    <td>
      Frequency units
    </td>
    <td>
      <%= @prescription.frequency_units %>
    </td>
  </tr>
  <tr>
    <td>
      Route
    </td>
    <td>
      <%= @prescription.route %>
    </td>
  </tr>
</table>
